<div ui-content-for="title">
    <span>Forgotten Password</span>
</div>

<div ui-content-for="menuAction"></div>

<div ui-content-for="leftSidebar"></div>

<div class="scrollable container">
    <div class="scrollable-content">
        <div class="section">

            <form class="form" role="form">
                <p>Enter your username, and press 'Request a key' - if you have an email for your account,
                you will receive a password-reset key; otherwise, Temporary Staffing will contact you with one
                as soon as is possible.</p>
                <label class="label label-danger" ng-show="usernameError">Invalid username</label>
                <input class="form-control" placeholder="Username" ng-model="username">
                <button type="submit" class="btn btn-primary btn-block" ng-click="requestForgottenPasswordKey()" ng-active="requestKeyButtonEnabled">Request a key</button>
                <label class="label label-warning" ng-show="firstRequestSuccess">Key requested successfully!</label>
                <p>When your key has arrived, enter it here, (along with your username above) and a new password - then
                press 'Change Password' to confirm.</p>

                <label class="label label-danger" ng-show="keyError">Invalid key/username combination</label>
                <input class="form-control" placeholder="Key" ng-model="forgottenPasswordKey">

                <label class="label label-danger" ng-show="passwordError">Passwords must match</label>
                <input type="password" class="form-control" placeholder="New password" ng-model="password">
                <input type="password" class="form-control" placeholder="Confirm new password" ng-model="passwordConfirmation">
                <button type="button" class="btn btn-primary btn-block" ng-click="submitPasswordChangeRequest()">Change password</button>
                <label class="label label-warning" ng-show="secondRequestSuccess">Password changed successfully!</label>

                <button type="button" class="btn btn-primary btn-block" ng-click="backToLogin()">Back</button>
            </form>
        </div>
    </div>
</div>